<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="en">RunePluginReset</label>
    <version>0.0.1</version>
    <copyright>(c) by Rune Laenen</copyright>
    <license>proprietary</license>
    <link>https://github.com/runelaenen/RunePluginReset</link>
    <author>Rune Laenen</author>

    <compatibility minVersion="5.5.4" />

</plugin>